<beans xmlns="http://www.springframework.org/schema/beans"
 xmlns:context="http://www.springframework.org/schema/context"
 xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context-3.0.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd">

 <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
<property name="host" value="10.98.134.29" /> <!-- new server -->
<!--  <property name="host" value="10.150.5.86" />   --> <!-- old server -->
  <property name="port" value="25" />

  <property name="username" value="UBS-PMO@hcl.com" />
 <!--  <property name="password" value="Harish@7575" /> -->
  <property name="javaMailProperties">
   <props>
    <prop key="mail.debug">true</prop> 
    <prop key="mail.smtp.auth">false</prop>
   <!--  <prop key="mail.smtp.starttls.enable">true</prop> -->
    <prop key="mail.mime.charset">UTF-8</prop>
    <prop key="mail.transport.protocol">smtp</prop>
        <prop key="mail.smtp.ssl.checkserveridentity">false</prop>
    <prop key="mail.smtp.ssl.trust">*</prop>
   </props>
  </property>
 </bean>

 <bean id="mailService" class="com.technicalkeeda.services.MailServiceImpl">
  <property name="mailSender" ref="mailSender" />
  <property name="velocityEngine" ref="velocityEngine"/>
 </bean>


   <bean id="velocityEngine"
 class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
    <property name="velocityProperties">
        <props>
            <prop key="resource.loader">class</prop>
            <prop key="class.resource.loader.class">
                org.apache.velocity.runtime.resource.loader.ClasspathResourceLoader
            </prop>
        </props>
    </property>
</bean>


	
	
	
</beans>